@import "./variables.sass";

// Rest of bulma
@import "../node_modules/bulma/bulma.sass";


// Overrides
h1,h2,h3,h4,h5,h6 {
  font-weight: $title-weight;
}

html, body {
  background-color: $body-background;
}

.button {
  font-weight: $weight-bold;
  height: 2.75em;
}

.input {
  height: 2.75em;
}
