@import "./variables.sass";

$side-nav-width: 300px;
$right-side-nav-width: 225px;
$right-side-nav-color: $primary;
$right-side-nav-left-padding: 1rem;
$right-side-nav-right-padding: 1rem;


.SideNav {
  display: flex;
}

// .SideNav .Left {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   height: 100vh;
//   width: 75px;
//   background-color: #3e313c;
// }

// .SideNav .Left .Item {
//   margin-top: 1.5rem;
//   height: 45px;
//   width: 45px;
//   background-color: #fff;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 0.25rem;
//   cursor: pointer;
// }

// .SideNav .Left .Item:first-child {
//   margin-top: 1rem;
// }

// .SideNav .Left .Item:hover {
//   background-color: #ccc;
// }

// .SideNav .Left .Item:hover a {
//   color: #000;
// }

.SideNav .Right {
  display: flex;
  flex-direction: column;
  width: $right-side-nav-width;
  height: 100vh;
  background-color: $right-side-nav-color;
  color: $white;
}

.SideNav .Right > .header {
  background-color: transparent;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: $right-side-nav-left-padding;
  padding-right: $right-side-nav-right-padding;
  &:hover, &.is-hovered {
    background-color: darken($right-side-nav-color, 2.5%);
  }
  &:focus, &.is-focused {
    box-shadow: 0 0 0.5em rgba($right-side-nav-color, 0.25);
    background-color: darken($right-side-nav-color, 2.5%);
  }
  &:active, &.is-active {
    background-color: darken($right-side-nav-color, 5%);
  }
  .logo {
    margin-top: -0.25rem;
    font-size: $size-4;
  }
  .user-login {
    color: $white;
    display: block;
    font-size: $size-7;
    display: flex;
    align-items: center;
    margin-top: -0.3rem;
    .fa {
      font-size: $size-7 - 0.3rem;
      margin-top: 0.1rem;
      margin-right: 0.4rem;
    }
  }
}

.SideNav .Right .sub-section {
  margin-top: 0.75rem;
  padding-right: $right-side-nav-right-padding;
  .header {
    padding-left: $right-side-nav-left-padding;
    color: $white;
    text-transform: uppercase;
    font-size: $size-7;
    margin-bottom: 0.1rem;
  }
  .button {
    width: 100%;
    padding-left: $right-side-nav-left-padding;
    justify-content: flex-start;
  }
  .user {
    font-size: $size-7;
    display: flex;
    align-items: center;
    padding-left: $right-side-nav-left-padding;
    height: 2em;
    .fa {
      font-size: $size-7 - 0.3rem;
      margin-top: 0.1rem;
      margin-right: 0.4rem;
    }
  }
}

.SideNav .Right .logout {
  margin-top: auto;
  padding-left: $right-side-nav-left-padding;
  padding-right: $right-side-nav-right-padding;
  margin-bottom: 0.75rem;
}
